/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My Style*/

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  /*padding: 0 30px;*/
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
}

/* Header */

.header {
  background: #5385C1;
}

.logo {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-left: 24px;
  font-size: 20px;
}
.nav {
	padding: 20px;
}

.header2 {
	color: white;
	font-size: 50px;
	text-align: center;
	padding:10px;
	padding-top: 80px;
}

.header3 {
	color: white;
	font-size: 15px;
	text-align: center;
	padding-bottom: 120px;
}

/*Section-1*/

.sec-head {
	font-size:18px;
	color:blue;
	padding-bottom: 20px;
	line-height: 1.5;
}

.sec1 {
	color: grey;
	padding-bottom: 20px;
	line-height: 1.5;
}

.div1{
	width: 20%;
	margin-right: 150px;
	padding-top: 50px;
}

.btn {
	color: white;
	background: #5385C1;
	border: 0 solid;
	padding: 10px 20px;
	margin-bottom: 50px;
}

/*section-2*/

.section-2 {
	background: #5385C1;
	padding-bottom: 30px;
}

.sec2-head {
	text-align: center;
	color: white;
	font-size: 40px;
	margin: 50px 0 10px 0;
}

.sec2-head1 {
	text-align: center;
	color: white;
	font-size: 15px;
	margin-bottom: 40px;
}

.boxmain {
	margin: 0 -3.5%;
}
.box {
	padding: 10px;
}

.box1 {
	text-align: center;
	width: 20%;
	padding-bottom: 20px;
	border:1px solid lightgrey;
	box-sizing: border-box;
	margin:0 2.5%;
}

.image1{
	border-radius: 50%;
	margin-top: 30px;
}

.imghead {
	color: white;
	margin: 20px 0 7px 0;
	text-align: center;
	font-size: 18px;
}

.imgdiv {
	color: white;
	text-align: center;
	font-size: 15px;

}

/*Section-3*/

.sec3-head {
	text-align: center;
	color:#5385C1 ;
	font-size: 40px;
	margin: 50px 0 10px 0;
}

.sec3-head1 {
	text-align: center;
	color: grey;
	font-size: 15px;
	margin-bottom: 40px;
}

.sec3-head2 {
	color: #5385C1;
	font-size: 18px;
	padding-top: 20px;
}

.sec3-prg {
	color: grey;
	width: 500px;
	line-height:1.5;
	padding-top: 20px;
	padding-bottom: 20px;
}

hr {
	width: 1200px;
}

/*Footer*/

footer {
  line-height: 60px;
  color: grey;
}

.nav-foot {
	color: blue;
  text-decoration: none;
  margin-left: 24px;
  /*font-size: 24px;*/
}